* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SplineSansMono";
}
li {
  list-style: none;
}
.mybutton {
  all: unset;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input,
textarea {
  outline: none;
}
@font-face {
  font-family: "SplineSansMono";
  src: url(../assets/fonts/SplineSansMono.ttf);
}
